<template name="alerts">
  <div class="modal fade" tabindex="-1" id="alert-dinner">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
           <h4 class="modal-title">Dinner changed</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" tabindex="-1" id="alert-present">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
           <h4 class="modal-title">Present changed</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" tabindex="-1" id="alert-anything">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
           <h4 class="modal-title">Anything else completed</h4>
        </div>
      </div>
    </div>
  </div>

</template>
