$bgDefault      : #478bda;
$bgHighlight    : #eb5366;
$colDefault     : #ffffff;
$colHighlight   : #030711;
$red            : #EB5265;
$lightgray      : #F4F4F4;

.activeuser {
  .target-name {
    margin-left: 10%;
    margin-top: 15px;
  }
  .glyphicon-remove {
    text-shadow: 0 1px 0 #ffffff;
    margin-top: 17px;
    margin-right: 5%;
    opacity: 0.4;
    float: right;
}}

#profile-block {
  margin-top: 3%;
}

.target-profile {
  height: 3.5em;
  width: 3.5em;
  display:flex;
  justify-content:center;
  align-items:center;
  overflow:hidden;
  img {
    width: 3.5em;
    flex-shrink:0;
    min-width:100%;
    min-height:100%
  }
}

.recommendation-item {
  margin-bottom: 10px;
  // padding-left: 0;
  // padding-right: 0;
  // width: 100%;
  // background-color: white;
  .imagelist {
    width: 100%;
    // margin-bottom: 10px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}}

.recommendation-title {
  font-weight: bold;
  color: $bgDefault;
}

.vendorlist {
  height: 1.5em;
  width: 1.5em;
  justify-content:center;
  align-items:center;
  overflow:hidden;
  img {
    width: 3.5em;
    flex-shrink:0;
    min-width:100%;
    min-height:100%
  }
}

.recommendation-info {
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 18%;
  margin-top: -15px;
  background-color: white;
  h2 {
    font-size: 1em;
    margin-top: 4%;
    margin-bottom: 2%;
    border-bottom: 1px solid $lightgray;
    padding-bottom: 3%;
  }
  h4 {
    font-size: 0.8em;
    font-weight: 300;
    margin-bottom: 0;
    padding-top: 10px;
    .vendor {
      padding-left: 3%;
    }
  }
  h3 {
    font-size: 1em;
    font-weight: 300;
    margin-top: 4%;
    margin-bottom: 0;
    .price {
      float: left;
      padding-top: 3%;
  }
    }
  .btn-add {
    background-color: $red;
    color: white;
    float: right;
  }
}

// Recommendation edit
.center {
  display: flex;
  padding-left: 10%;
}

.target-profile-edit {
  height: 3.5em;
  width: 3.5em;
  display:flex;
  justify-content:center;
  align-items:center;
  overflow:hidden;
  img {
    width: 3.5em;
    flex-shrink:0;
    min-width:100%;
    min-height:100%
  }
}

.target-profile-bar {
  float: left;
}

.target-name-edit {
  font-size: 16px;
  margin: 2%;
  color: $red;
  float: left;
}

.form-group {
  margin: 0;
}

.glyphicon-chevron-left {
  color: gray;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.4;
}

.glyphicon-chevron-right {
  color: gray;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.4;
}

.chosen-item {
  width: 100%;
  margin-bottom: 10%;
}

.imagelist {
  width: 100%;
  margin-bottom: 2%;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.chosen-title {
  font-weight: bold;
  color: $bgDefault;
}

.chosen {
  text-align: center;
  font-weight: bold;
  font-size: 1em;
  color: $red;
}

.target-name-edit, .form-group, .pull-right, .pull-left {
  margin-top: 10px;
}

.pdatabs {
  .nav-tabs {
    border-bottom: 0;
    margin-bottom: 10px;
    li {
      width: 33%;
      text-align: center;
      font-weight: 300;
      font-size: 1em;
      border: 1px solid $lightgray;
      background-color: white;
    }
    li :hover {
      background-color: $bgDefault;
      color: white;
    }
  }
}

#location {
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: $lightgray;
  border-radius: 0;
  font-size: 0.8em;
  font-weight: 300;
}

#presents {
  margin-left: 0;
  margin-right: 0;
}

// div {
//   border: 1px solid black;
// }

// Tab Modal

.modal-description {
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #F4F4F4;
  padding-bottom: 10px;
}

.glyphicon-map-marker, .glyphicon-earphone, .glyphicon-tags {
  color: $bgDefault;
  margin-right: 8px;
}

.info {
  padding-left: 0;
  padding-right: 0;
}

.modal-vendor, .modal-phonenumber, .modal-price, .modal-location {
  font-size: 1em;
  font-weight: 300;
}

.btn-modal-add {
  background-color: $red;
  color: white;
  margin-top: 20px;
}

// .chosen-image {
//   height: 16em;
//   width: 100%;
//   display:flex;
//   justify-content:center;
//   align-items:center;
//   overflow:hidden;
//   img {
//     // width: 15em;
//     flex-shrink:0;
//     height: 100%;
//     width: auto;
//   }
// }