$bgDefault      : #478bda;
$bgHighlight    : #eb5366;
$colDefault     : #ffffff;
$colHighlight   : #030711;
$red            : #EB5265;
$lightgray      : #F4F4F4;

.activeuser {
  h2 {
    font-size: 16px;
    margin: 2%;
    color: $red;
  }
    .target-name {
      margin-left: 10%;
    }
    .glyphicon-remove {
      text-shadow: 0 1px 0 #ffffff;
      margin-top: 6%;
      margin-right: 5%;
      opacity: 0.4;
      float: right;
}}

.target-profile {
  width: 3em;
  height: 3em;
}

.recommendation-item {
  margin-bottom: 10%;
  width: 100%;
  background-color: white;
  .imagelist {
    width: 100%;
    margin-bottom: 2%;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
  }}

.recommendation-title {
  font-weight: bold;
  color: $bgDefault;
}

.vendorlist {
  width: 1.5em;
  height: 1.5em;
}

.location {
  float: right;
}

.recommendation-info {
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 18%;
  h2 {
    font-size: 1em;
    margin-top: 4%;
    margin-bottom: 2%;
    border-bottom: 1px solid $lightgray;
    padding-bottom: 3%;
  }
  h4 {
    font-size: 0.8em;
    font-weight: 300;
    margin-top: 2%;
    margin-bottom: 0;
    .vendor {
      padding-left: 3%;
    }
  }
  h3 {
    font-size: 1em;
    font-weight: 300;
    margin-top: 4%;
    margin-bottom: 0;
    .price {
      float: left;
      padding-top: 3%;
  }
    }
  .btn-add {
    background-color: $red;
    color: white;
    float: right;
  }

}

// Recommendation edit
.target-profile-edit {
  width: 3.5em;
  height: 3.5em;
}

.target-name {
  font-size: 16px;
  margin: 2%;
  color: $red;
  margin-left: 10%;
}

.glyphicon-chevron-left {
  color: gray;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.4;
}

.glyphicon-chevron-right {
  color: gray;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.4;
}

.chosen-item {
  width: 100%;
  margin-bottom: 10%;
}

.imagelist {
  width: 100%;
  margin-bottom: 2%;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.chosen-title {
  font-weight: bold;
  color: $bgDefault;
}

.chosen {
  text-align: center;
}

.pull-right, .pull-left {
  margin-top: 10px;
}

// div {
//   border: 1px solid black;
// }
