.list-background {
  background-color: gray;
}

.imagelist {
  width: 260px;
  height: 260px;
}

.recommendation-item {
  float: left;
  margin: 10px;
}

.vendorlist {
  width: 35px;
  height: 35px;
}