@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700);
@import 'components';
@import 'pages';
@import 'recommendationsindex';


$lightgray      : #F4F4F4;

$bgDefault      : hsla(212, 67%, 57%, 1);
$bgHighlight    : hsla(353, 79%, 62%, 1);
$colDefault     : hsla(0, 100%, 100%, 1);
$colHighlight   : hsla(223, 70%, 4%, 1);
$red            : hsla(353, 79%, 62%, 1);

#main {
  padding-right: 8px;
  padding-left: 8px;
  max-width: 960px;
}

body {
  background-color: $lightgray;
}

h1, h2, h3, h4, h5, h6, p, body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 16px;
}

p {
  font-size: 12px;
  margin: 0;
  color: gray;
}

#homepage-intro .motto {
  color: #FFFFFF;
}

#homepage-intro {
  background: linear-gradient(
    hsla(347, 100%, 80%, 1), hsla(347, 100%, 90%, 1) 90%, $lightgray);
  text-align: center;
  padding-top: 60px;
  padding-bottom: 70px;
  margin-top: -10px;
  margin-bottom: 20px;
  height: inherit;
}

#homepage-intro h1 {
  color: #FFFFFF;
  font-size: 4em;
  font-family: Helvetica;
  border: 1px solid;
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

#homepage-intro h2 {
  color: #FFFFF0;
  font-size: 24px;
  font-family: Helvetica;
  margin-bottom: 30px;
}

.left-margin {
  margin-left: 2%;
  margin-right: 2%;
}

.blue-font {
  color: $bgDefault;
}

.red-font {
  color: $red;
  font-weight: bold;
}
// Color for navbar in header

.navbar {
  margin-bottom: 10px;
  border-radius: 0;
}

.navbar-default {
  background-image: linear-gradient(
    hsla(202, 79%, 63%, 1), hsla(202, 79%, 55%, 1) 60%, hsla(202, 79%, 46%, 1)
  );
  border: none;
  .navbar-brand {
    color: $colDefault;
    &:hover, &:focus {
      color: $colHighlight; }}
  .navbar-text {
    color: $colDefault; }
  .navbar-nav {
    > li {
      > a {
        color: $colDefault;
        &:hover,  &:focus {
          color: $colHighlight; }}}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}
    > .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
  .navbar-toggle {
    &:hover, &:focus {
      background-color: $bgHighlight; }
    .icon-bar {
      background-color: $colDefault; }}
  .navbar-collapse {
    // background-color: $red;
  }
  .navbar-form {
    border-color: $colDefault; }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight; }}}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    > .active {
      > a, > a:hover, > a:focus, {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
}

.version {
  color: hsla(262, 28%, 62%, 1);
  margin-bottom: 60px;
}

.form-actions {
  margin: 30px 0 30px 0;
}

#login-buttons-facebook {
  border-color: white;
  width: 100%;
}
>>>>>>> Stashed changes
#spinner { height: 300px }

// For friends autocomplete
.form-control {
  border-color: $bgDefault;
  height: 44px;
}
