<template name="editRecommendation">
  {{> alerts}}
  <div class="left-margin">
    <div>
      {{#if showPrevNext}}
        <span class="arrow"><a href="#" class="glyphicon glyphicon-chevron-right pull-right" id="next"></a></span>
        <span class="arrow"><a href="#" class="glyphicon glyphicon-chevron-left pull-left" id="prev"></a></span>
      {{/if}}

      <div class="center">
        <span class="target-profile-edit img-circle target-profile-bar">
          <img src="{{targetUser.profile.picture}}" alt="">
        </span>
        <span class="target-name-edit target-profile-bar">{{targetUser.profile.name}}</span>

        <form class="form-group">
          <label for="location" class="sr-only">Location</label>
          <select name="location" id="location">
            <option value="">Select location</option>
            {{#each locations}}
              {{> location}}
            {{/each}}
          </select>
        </form>

      </div>
    </div>
  </div>

  <div class="left-margin row">
    <h1 class="chosen">Chosen</h1>
    <div class= "row chosen-row">

      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div class="chosen-item">
          <img src="{{chosenPresent.image}}" alt="{{chosenPresent.title}}" class="imagelist">
          <div>
            <p>
              <span class="chosen-title">{{chosenPresent.title}}</span>
            </p>
          </div>
        </div>
      </div>

      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div class="chosen-item">
          <img src="{{chosenDinner.image}}" alt="{{chosenDinner.title}}" class="imagelist">
          <div>
            <p>
              <span class="chosen-title">{{chosenDinner.title}}</span>
            </p>
          </div>
        </div>
      </div>

      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div class="chosen-item">
          <img src="{{chosenAnything.image}}" alt="{{chosenAnything.title}}" class="imagelist">
          <div>
            <p>
              <span class="chosen-title">{{chosenAnything.title}}</span>
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="pdatabs">
      <ul class="nav nav-tabs">
        <li><a href="#presents" data-toggle="tab">Present</a></li>
        <li><a href="#dinners" data-toggle="tab">Dinner</a></li>
        <li><a href="#anythings" data-toggle="tab">Anything else</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane fade in active row" id="presents">
          {{#each allPresents}}
            {{> showPresent}}
          {{/each}}
        </div>

        <div class="tab-pane fade" id="dinners">
          {{#each allDinners}}
            {{> showDinner}}
          {{/each}}
        </div>

        <div class="tab-pane fade" id="anythings">
          {{#each allAnythings}}
            {{> showAnything}}
          {{/each}}
        </div>
      </div>
      {{#each allPresents}}
        {{> presentModal}}
      {{/each}}
      {{#each allDinners}}
        {{> dinnerModal}}
      {{/each}}
      {{#each allAnythings}}
        {{> anythingModal}}
      {{/each}}
    </div>
  </div>
</template>

<template name="location">
  <option value="{{_id}}" {{selected}}>{{name}}</option>
</template>
