<template name="editRecommendation">

  <div class="left-margin">
    <p>
      {{#if showPrevNext}}
        <a href="#" class="glyphicon glyphicon-chevron-left" id="prev"></a>
      {{/if}}
      <img src="{{targetUser.profile.picture}}" alt="" class="target-profile-edit img-circle">
      <span class="target-name">{{targetUser.profile.name}}</span>
      {{#if showPrevNext}}
        <a href="#" class="glyphicon glyphicon-chevron-right" id="next"></a>
      {{/if}}
      <span>
        <form class="form-group">
          <label for="location" class="sr-only">Location</label>
          <select name="location" id="location">
            <option value="">Select location</option>
            {{#each locations}}
              {{> location}}
            {{/each}}
          </select>
        </form>
      </span>
    </p>
  </div>

  <div class="left-margin">
    <h1 class="chosen">Chosen</h1>
    <div class= "chosen-row">

      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div class="chosen-item">
          <img src="{{chosenPresent.image}}" alt="{{chosenPresent.title}}" class="imagelist">
          <div>
            <p>
              <span class="chosen-title">{{chosenPresent.title}}</span>
            </p>
          </div>
        </div>
      </div>

      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div class="chosen-item">
          <img src="{{chosenDinner.image}}" alt="{{chosenDinner.title}}" class="imagelist">
          <div>
            <p>
              <span class="chosen-title">{{chosenDinner.title}}</span>
            </p>
          </div>
        </div>
      </div>

      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div class="chosen-item">
          <img src="{{chosenFlower.image}}" alt="{{chosenFlower.title}}" class="imagelist">
          <div>
            <p>
              <span class="chosen-title">{{chosenFlower.title}}</span>
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div>
    <div>
      {{#each allPresents}}
        {{> present}}
      {{/each}}
    </div>

    <div>
      {{#each allDinners}}
        {{> dinner}}
      {{/each}}
    </div>

    <div>
      {{#each allFlowers}}
        {{> flower}}
      {{/each}}
    </div>
  </div>
</template>

<template name="location">
  <option value="{{_id}}" {{selected}}>{{name}}</option>
</template>
