<template name="recommendationsList">
  <div class="background">
    <h1>Recommendations for each user</h1>
    <div>
      {{#each recommendations}}
        {{> recommendationItem}}
      {{/each}}
    </div>

    <div>
      {{#each allPresents}}
        {{> present}}
      {{/each}}
    </div>
  </div>

<!--   <h1>List of all dinners</h1>
  <div>
    {{#each allDinners}}
      {{> dinner}}
    {{/each}}
  </div>

  <h1>List of all flowers</h1>
  <div>
    {{#each allFlowers}}
      {{> flower}}
    {{/each}}
  </div> -->
</template>
