<template name="recommendationsList">
  <h1>Recommendations for each user</h1>
  <div>
    {{#each recommendations}}
      {{> recommendationItem}}
    {{/each}}
  </div>

  <div class="list-background">
    <h1>List of all presents</h1>
    {{#each allPresents}}
      {{> present}}
    {{/each}}
  </div>

  <h1>List of all dinners</h1>
  <div>
    {{#each allDinners}}
      {{> dinner}}
    {{/each}}
  </div>

  <h1>List of all flowers</h1>
  <div>
    {{#each allFlowers}}
      {{> flower}}
    {{/each}}
  </div>
</template>
