<template name="showRecommendation">
  <div class="activeuser">
    <a href="{{pathFor 'editRecommendation'}}">

      <div id="profile-block" class="row left-margin">
        <span class="target-profile img-circle target-profile-bar">
          <img class="target" src="{{target.profile.picture}}" alt="">
        </span>
        <span class="target target-name target-profile-bar">{{target.profile.name}}</span>
        <span class="glyphicon glyphicon-remove target-profile-bar remove-recommendation"></span>
      </div>

    </a>
  </div>
</template>