<template name="present">
  <div class="presentList">
    <div class="recommendation-item">
      <img src="{{image}}" alt="{{title}}" class="imagelist">
      <div class="recommendation-info">
        <div>
          <p><span class="recommendation-title">{{title}}</span><span class="price">{{price}}</span></p>
        </div>
        <div>
          <p><img src="{{vendorimage}}" alt="{{vendor}}" class="vendorlist img-circle">
          <span class="red-font">{{vendor}}</span>
          <span class="location">{{location}}</span></p>
        </div>
      </div>
    </div>
  </div>
</template>
