<template name="showPresent">
  <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">

    <div class="recommendation-item">
      <img src="{{image}}" alt="{{title}}" class="imagelist">
      <div class="recommendation-info">

        <h4><img src="{{vendorimage}}" alt="{{vendor}}" class="vendorlist img-circle">
        <span class="vendor">{{vendor}}</span></h4>


        <h2 class="recommendation-title">{{title}}</h2>

        <h3>
          <span class="price">{{price}}</span>
          <button type="button" class="btn btn-xs btn-add presentList">
            <span class="glyphicon glyphicon-ok"></span> Add
          </button>
        </h3>

      </div>
    </div>
  </div>

</template>
