<template name="signin">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2>Sign In</h2>
      <div class="facebook-signup facebook-auth">
        <a class="facebook-button button" href="#">Sign In/Sign Up with Facebook</a>
      </div>
      <div class="regular-signup regular-auth">
        <form>
          <div class="form-group">
            <label>Email</label>
            <input id="email" class="form-control" type="text" value="" />
          </div>
          <div class="form-group">
            <label>Password</label>
            <input id="password" class="form-control" type="password" value="" />
          </div>
          <div class="form-actions">
            <a href="/forgot_password">Forgot password?</a>
            <input type="submit" class="btn btn-primary" value="Sign In" />
          </div>
          <div>
            <p class="footer-notice">Don't have an account?<a href="signup" id="signup">Sign up!</a></p>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>