<template name="showAnything">
  <div class="recommendation-item col-xs-6 col-sm-4 col-md-3 col-lg-3">
    <img src="{{image}}" alt="{{title}}" class="imagelist">
    <div class="recommendation-info">

      <h4><img src="{{vendorimage}}" alt="{{vendor}}" class="vendorlist img-circle">
      <span class="vendor">{{vendor}}</span></h4>

      <h2 class="recommendation-title">{{title}}</h2>

      <h3>
        <span class="price">{{price}}</span>
        <button type="button" class="add-anything btn btn-xs btn-add anythingList">
          <span class="glyphicon glyphicon-ok"></span> Add
        </button>
      </h3>

    </div>
  </div>
</template>

<template name="anythingModal">
  <div class="modal fade" tabindex="-1" id="{{_id}}">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
           <h4 class="modal-title" id="myModalLabel">{{title}}</h4>
        </div>
        <div class="modal-body">
          <img src="{{image}}" alt="{{title}}" class="imagelist">
          <div class="recommendation-info">
            <h4><img src="{{vendorimage}}" alt="{{vendor}}" class="vendorlist img-circle">
            <span class="vendor">{{vendor}}</span></h4>
            <span class="description">{{description}}</span>
            <span class="price">{{price}}</span>
            <span class="location">{{location}}</span>
            <span class="phonenumber">Tel: {{phonenumber}}</span>
            <button type="button" class="add-anything-modal btn btn-xs btn-add presentList">
              <span class="glyphicon glyphicon-ok"></span> Add
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>